



<footer>
  <div class="navContainer"> 
    <p class="copyright"> Made with ❤️ in Cairo by Karim.</p>
    <p>Copyright © <%= new Date().getFullYear() %></p>
  </div>
   
  
</footer>
</body>

</html>