<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Bartender</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<header>
    <nav>
        <a name="Home" href="../index.ejs">Home</a>
    </nav>
</header>
</html>