<html>
    <%- include("partials/header.ejs") %>

    <body>

        
        <div>
            <h1>Choose Your Own Cocktail</h1>
            <form action="/cocktail" method="POST" class="buttons">
                <button type="submit" id="wine"value="wine" name="choice"></button>
                <button type="submit" id="gin" value="gin" name="choice" ></button>
                <button type="submit" id="whiskey" value="whiskey" name="choice"></button>
                <button type="submit" id="tequila" value="tequila" name="choice"></button>
                <button type="submit" id="vodka" value="vodka" name="choice"></button>
              </form>
        </div>
        <br>
        <% if (locals.DrinkType) {%>
            <%= DrinkType.strDrink %>
        <%  } %>
    </body>
    
    <%- include("partials/footer.ejs") %>
</html>

