<html>
    <%- include("partials/header.ejs") %>

    <body>
        <%= locals.DrinkType.data.drinks[0].strAlcoholic %>
        <br>
        <img src="../Public/Images/Cocktail Juice.jpeg" alt="A picture for a Cocktail with a lemon on the glass">
    </body>
    
    <%- include("partials/footer.ejs") %>
</html>

